.box{
    background-color: white;
    border: none;
    border-radius: 10%;
    box-shadow: 0px 0px 10px #888;
    width: 7rem;
    height: 7rem;
    text-align: center;
    margin: 0.5rem
}
.box:hover{
    box-shadow: 0px 0px 15px #888;
}

.X{
    color: red;
}

.O{
    color: blue;
}